// 狸愛集團 Liai Group
$liaiGroupPrimary:#540B0E;
$liaiGroupSecondary:#FFF3B0;

@mixin liaiGroupGradient() {
  background: rgb(84, 11, 14);
  background: linear-gradient(90deg, rgba(84, 11, 14, 1) 40%, rgba(0, 0, 0, 1) 100%);
}

// 芋神 Imogami
$imogamiPrimary:#FFE11B;
$imogamiSecondary:#81097D;
$imogamiDecoration:#E0C2DF;

// 國營狸子紀念公園 Kotanuki Park
$kotanukiParkPrimary:#004E98;
$kotanukiParkSecondary:#F6CACA;

// 狸悅酒店 Tanukatt Hotel
$tanukattHotelPrimary:#284B63;
$tanukattHotelSecondary:#3C6E71;
$tanukattHotelGrey:#D9D9D9;

// 狸貓保育協會 Raccoon Dog Association
$rdaPrimary:#3A5A40;
$rdaSecondary:#A3B18A;
$rdaDecoration:#E07A5F;

@mixin rdaGradient() {
  background: rgb(58, 90, 64);
  background: linear-gradient(90deg, rgba(58, 90, 64, 1) 35%, rgba(163, 177, 138, 1) 100%);
}

// 狸劇團 Tanuki Stage
$tanukiStagePrimary:#C1121F;
$tanukiStageSecondary:#003049;

// Global
$white:#FFFFFF;
$black:#000000;
$textColor:#3D3A35;