//h1-h6_PC
$h1fs_PC: 32px;
$h2fs_PC: 28px;
$h3fs_PC: 24px;
$h4fs_PC: 20px;
$h5fs_PC: 18px;
$h6fs_PC: 16px;

//h1-h6_MB
$h1Fs_MB: 2.1875rem;
$h2Fs_MB: 1.75rem;
$h3Fs_MB: 1.53125rem;
$h4Fs_MB: 1.3125rem;
$h5Fs_MB: 1.09375rem;
$h6Fs_MB: 0.875rem;

//button_PC
$btnFs_PC:20px;

//button_MB
$bBtnFs_MB:17.5px;

// font weight
$fWRegular: 400;
$fWBold: 700;

