@import 'base/color';
@import 'base/fonts';
@import 'base/border-radius';
@import 'base/box-shadow';
@import 'base/flex';
@import 'base/breakpoints';
@import 'base/body-space';
@import 'base/effects';


* {
  margin: 0;
  padding: 0;
}

@mixin a_href() {
  text-decoration: none;

  &:visited {
    text-decoration: none;
  }

  &:active {
    background-color: none;
  }
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

h1 {
  @include h1();
}

h2 {
  @include h2();
}

h3 {
  @include h3();
}

h4 {
  @include h4();
}

p {
  @include p();
}

label {
  @include p();
}



a {
  @include a_href();
}

.liai_group_font {
  font-family: $liaiGroupFont;
}