@import 'base/color';
@import 'base/fonts';
@import 'base/border-radius';
@import 'base/box-shadow';
@import 'base/flex';
@import 'base/breakpoints';
@import 'base/body-space';
@import 'base/effects';


* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a{
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  background-color: none;
} 

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

h1{
  @include h1_PC();
}

h2{
  @include h2_PC();
}

h3{
  @include h3_PC();
}

h4{
  @include h4_PC();
}

p{
  @include p_PC();
}


